<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Book</title>
</head>
<body>
        <div class="form">
            <form action="" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>Book title</td>
                        <td>: <input type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td>Book Author</td>
                        <td>: <input type="text" name="author"></td>
                    </tr>
                    <tr>
                        <td>Book description</td>
                        <td>: <input type="text" name="description"></td>
                    </tr>
                    <tr>
                        <td>Book category</td>
                        <td>: <input type="text" name="category"></td>
                    </tr>
                    <tr>
                        <td>Book language</td>
                        <td>: <input type="text" name="language"></td>
                    </tr>
                    <tr>
                        <td>Book pages</td>
                        <td>: <input type="text" name="pages"></td>
                    </tr>
                    <tr>
                        <td>Book Image</td>
                        <td>: <input type="file" name="image"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button type="submit">Add-Book</button></td>
                    </tr>
                </table>
            </form>
        </div>



</body>
</html>